<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Ingénieur de formation, je vous accompagne pour l’installation, la réparation et l’optimisation de vos équipements informatiques et multimédias.
          <br><br>
          Basé à Holving (Moselle), j’interviens localement autour de Puttelange-aux-Lacs, Sarralbe et Hellimer, avec des solutions claires, fiables et adaptées à vos besoins. 
        </p>
      </div>
    </div>
  </div>
</section>
