<!-- Prestations -->
<section id="portfolio" class="bg-dark text-white">
  <div class="container portfolio-flex-grid">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Prestations</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="portfolio-flex-row">

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/reinstall.png" class="img-responsive" alt="Réinstallation de Windows">
        </a>
        <p class="portfolio-text">Réinstallation de Windows</p>
      </div>

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/upgrade.png" class="img-responsive" alt="Mise à niveau PC">
        </a>
        <p class="portfolio-text">Mise à niveau PC</p>
      </div>

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/reparation.png" class="img-responsive" alt="Réparation informatique">
        </a>
        <p class="portfolio-text">Réparation informatique</p>
      </div>

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/reseau.png" class="img-responsive" alt="Réseau et Internet">
        </a>
        <p class="portfolio-text">Réseau & Internet</p>
      </div>

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/installation.png" class="img-responsive" alt="Installation logiciels et périphériques">
        </a>
        <p class="portfolio-text">Installation logiciels & périphériques</p>
      </div>

      <div class="portfolio-flex-item portfolio-item text-center">
        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/multimedia.png" class="img-responsive" alt="Installation et dépannage multimédia">
        </a>
        <p class="portfolio-text">Installation & dépannage multimédia</p>
      </div>

    </div>
  </div>
</section>
